html {
  background-color: rgba(0, 0, 0, 0.03);
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.app {
  width: 1024px;
  margin: 40px auto 0 auto;
}

.headline {
  font-size: 26pt;
  color: rgba(0, 0, 0, 0.9);
  margin: 0 0 1.33em 0;
  text-transform: uppercase;
}

.headline--type-subheadline {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18pt;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 8px 16px;
  border-radius: 3px;
}

.headline-container {
  display: flex;
}

.headline-container-buttons {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  margin: 0 40px 0 0;
  flex-grow: 1;
}

.container--direction-column {
  flex-direction: column;
}

.container:last-child {
  margin: 0;
}

.container--size-half {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.33em 0;
}

.form-group--direction-row {
  flex-direction: row;
}

.form-label {
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.9);
  margin: 0 0 0.66em 0;
}

.form-input {
  font-size: 12pt;
  padding: 6px 8px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1124px) {
  .app {
    width: 100%;
    padding: 0 25px;
  }
}

@media only screen and (max-width: 640px) {
  .headline-container {
    flex-direction: column;
  }

  .headline-container-buttons {
    margin: 0.66em 0 0 0;
  }

  .button--align-right {
    margin: 1.66em 0 0 0;
  }

  .container {
    flex-direction: column;
  }

  .container--size-half {
    width: 100%;
  }
}