.write {
    margin: 0 0 2em 0;
}

.shoppinglist-preview {
    display: flex;
    flex-direction: column;
}

.shoppinglist-preview-item {
    display: flex;
    align-items: center;
    margin: 0 0 0.33em 0;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    overflow: hidden;
    animation-name: shoppingListItemAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
}

.shoppinglist-preview-item-name {
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.9);
    flex-grow: 1;
    margin: 0 0 0 1em;
    padding: 0;
}

.shoppinglist-preview-item-price {
    background-color: rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.9);
    padding: 16px;
    margin: 0;
}

@keyframes shoppingListItemAnimation {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}