.button {
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    background-color: #1A66B2;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.9;
    outline: none;
    font-size: 12pt;
    margin: 0 1em 0 0;
}

.button--variant-warning {
    background-color: rgb(233, 58, 58);
}

.button:hover {
    opacity: 0.95;
}

.button:active {
    opacity: 1;
}

.button a, .button Link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
